// colors
$gray: #C7C7C7;
$primary: #0B79BF;
$white: #FFFFFF;
$dark-gray: #4D5259;
$yellow: #FCC525;
$cream: #F4F3EF;

// screen sizes
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;